{% load static %}
<header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
    <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/about">
                <img src="{% static 'images/main-logo.png' %}" class="logo">
            </a>
            <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <svg class="navbar-icon">
                    <use xlink:href="#navbar-icon"></use>
                </svg>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
                <div class="offcanvas-header px-4 pb-0">
                    <a class="navbar-brand" href="/about">
                        <img src="{% static 'images/main-logo.png' %}" class="logo">
                    </a>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                        aria-label="Close" data-bs-target="#bdNavbar"></button>
                </div>
                <div class="offcanvas-body">
                    <ul id="navbar"
                        class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %} active{% endif %}" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/services' %} active{% endif %}" href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/catalog/' %} active{% endif %}" href="/catalog">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/contacts' %} active{% endif %}" href="/contacts">Contacts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/about' %} active{% endif %}" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/blog' %} active{% endif %}" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/news/' %} active{% endif %}" href="/news">News</a>
                        </li>
                        <div class="d-flex align-items-center gap-3">
                            <a href="#" class="user-items ps-5 search-button">
                                <svg class="search">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </a>
                            <span>
                                {% if user.is_authenticated %}
                                    {{ user.username }}!
                                {% else %}
                                    Гість!
                                {% endif %}
                            </span>
                            {% if not user.is_authenticated %}
                                <a href="/accounts/signin">Sign In</a>
                                <a href="/accounts/signup">Sign Up</a>
                            {% else %}
                                <a href="/accounts/signout">Sign Out</a>
                                <a href="/accounts/profile">Profile</a>
                            {% endif %}
                            <input type="hidden" id="user-id" value="{{ user.id }}"> 
                        </div>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/accounts/favorites' %} active{% endif %}" href="/accounts/favorites">Favorites</a>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="user-items ps-5">
                                <ul class="d-flex justify-content-end list-unstyled">
                                    <a class="nav-link position-relative d-inline-block dropdown-toggle" href="#" id="cartDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg class="cart">
                                            <use xlink:href="#cart"></use>
                                        </svg>
                                        <span class="ms-1">Cart</span>
                                        <span id="count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.7rem;">
                                            0
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="cartDropdown" style="min-width: 250px;">
                                        <div class="cart-summary mb-2">
                                            <h6 id="_count">Items in cart: 0</h6>
                                            <h6 id="_amount">Total: $</h6>
                                        </div>
                                        <div class="cart-btns d-flex justify-content-between">
                                            <a href="/orders" class="btn btn-sm btn-outline-primary">View</a>
                                            <!-- <a href="/orders/bill/123" class="btn btn-sm btn-primary">Checkout <i class="fa fa-arrow-circle-right"></i></a> -->
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div style="padding-top: 90px;">
</div>
<script src="{% static 'js/cart_indicate.js' %}"></script>