{% extends '_layouts/base.html' %}

{% block content %}
    <div class="content-panel">
        <div class="section">
			<div class="container">
				<div class="row">
					<!-- ------------------------------------------------------------ -->
                    {% if color == 'red' %}
						<h4 style="color: red;">{{ message }}</h4>
					{% else %}
						<h4 style="color: green;">{{ message }}</h4>
					{% endif %}
					<!-- ------------------------------------------------------------ -->
				</div>
			</div>
		</div>
    </div>
{% endblock %}