{% extends '_layouts/base.html' %}

{% block content %}
    <div class="content-panel">
        <div class="section">
			<div class="container">
				<div class="row">
					<!-- ------------------------------------------------------------ -->
                    <h3 style="color:darkcyan; text-align: center; font-style: italic;">
                        Ви успішно вийшли із системи
                    </h3>
					<!-- ------------------------------------------------------------ -->
				</div>
			</div>
		</div>
    </div>
{% endblock %}