{% extends '_layouts/base.html' %}

{% block content %}
    <div style="padding-top: 90px;">
    </div>
    <div class="content-panel">
        <div class="section">
			<div class="container">
				<div class="row">
					<!-- ------------------------------------------------------------ -->
                    <form id="form2" action="/accounts/signin" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="login" class="form-label">Логін</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                            <span id="login-err" class="error"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label for="pass1" class="form-label">Пароль</label>
                            <input type="password" id="pass1" name="pass1" class="form-control" required>
                            <span id="pass1-err" class="error"></span>
                        </div>
                        <div class="form-group mb-2 text-center">
                            <input type="submit" id="submit" value="Відправити" class="btn btn-success my">
                            <input type="reset" id="reset" value="Очистити" class="btn btn-primary my">
                        </div>
                    </form>
					<!-- ------------------------------------------------------------ -->
				</div>
			</div>
		</div>
    </div>
    <div style="padding-top: 90px;">
    </div>
{% endblock %}