{% extends '_layouts/base.html' %}

{% block content %}
{% load static %}
<div style="padding-top: 100px;"></div>
<div class="content-panel">
    <h2>My Orders</h2>
    {% if user_orders %}
        <table class="table">
            <thead>
				<tr>
					<th>ID</th>
					<th>Order</th>
					<th>Product</th>
					<th>Price</th>
					<th>Date</th>
					<th>Status</th>
					<th>Quantity</th>
					<th>Select</th>
					<th>Delete</th>
				</tr>
			</thead>
			<body>
				{% for order in user_orders %}
					<tr>
						<td class="id-cell">{{ order.id }}</td>
						<td>{{ order.title }}</td>
						<td>{{ order.product.name }}</td>
						<td class="price-cell" data-price-per-item="{{ order.product.price }}">{{ order.amount }}</td>
						<td>{{ order.date }}</td>
						<td>{{ order.notes }}</td>
						<td>
							<input type="number" class="order-qty" value="{{ order.quantity }}" min="1" data-order-id="{{ order.id }}">
						</td>
						<td><input type="checkbox" class="check" value="jes" checked></td>
						<td>
							<input type="hidden" value="{{ order.id }}">
							<button class="btn btn-sm btn-warning del-btn">
								Delete
							</button>
						</td>
					</tr>
				{% endfor %}
			</body>
        </table>
		<div class="total-box py-3 text-center">
			<h5 class="fw-bold" style="font-size: 1.1em; color: green;">
				Total amount to pay:&nbsp;
				<span id="total" style="color: red;">0.00 usd</span>
			</h5>
		</div>
		<div class="text-center mb-4">
			<a id="bill-btn" href="/orders/bill/123" class="btn btn-primary btn-rounded">
				Proceed to order
			</a>
		</div>
    {% else %}
        <p>You have no orders yet.</p>
    {% endif %}
</div>
<script src="{% static 'js/calc_orders.js' %}"></script>
{% endblock %}