{% extends '_layouts/base.html' %}
{% load static %}

{% block content %}
<div style="padding-top: 80px;">
</div>
<nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
    <div class="container-fluid">
        <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false"
            aria-label="Toggle navigation">
            <svg class="navbar-icon">
                <use xlink:href="#navbar-icon"></use>
            </svg>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
            <div class="offcanvas-header px-4 pb-0">
                <a class="navbar-brand" href="index.html">
                    <img src="{% static 'images/main-logo.png' %}" class="logo">
                </a>
                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                    aria-label="Close" data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body">
                <ul id="navbar"
                    class="navbar-nav text-uppercase justify-content-center align-items-center flex-grow-1 pe-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link me-4 dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#"
                            role="button" aria-expanded="false">Filters</a>
                        <ul class="dropdown-menu px-3 py-2">
                            <li>
                                <form method="GET" id="filterForm">
                                    <div class="aside categories">
                                        <h6 class="aside-title mb-2">Category</h6>
                                        <div class="checkbox-filter">
                                            {% for c in categories %}
                                            <div class="input-checkbox">
                                                <input type="radio" id="category-{{ c.id }}" name="category" value="{{ c.id }}"
                                                    {% if selected_category_id|stringformat:"s" == c.id|stringformat:"s" %}checked{% endif %}>
                                                <label for="category-{{ c.id }}" style="font-size: 1em; padding-left: 5px;">
                                                    <span></span>
                                                    {{ c.name }}
                                                    <small>(0)</small>
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="aside producers">
                                        <h6 class="aside-title mb-2">Producer</h6>
                                        <div class="checkbox-filter">
                                            {% for p in producers %}
                                            <div class="input-checkbox">
                                                <input type="radio" id="producer-{{ p.id }}" name="producer" value="{{ p.id }}"
                                                    {% if selected_producer_id|stringformat:"s" == p.id|stringformat:"s" %}checked{% endif %}>
                                                <label for="producer-{{ p.id }}">
                                                    <span></span>
                                                    {{ p.name }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>      
                                    </div>
                                    <h6 class="aside-title mb-2">Price</h6>
                                    <div class="d-flex align-items-center gap-2">
                                        <input id="price-min" name="price_min" type="number" class="form-control form-control-sm" style="width: 70px;">
                                        <span class="mx-1">-</span>
                                        <input id="price-max" name="price_max" type="number" class="form-control form-control-sm" style="width: 70px;">
                                    </div>
                                    <div class="d-flex gap-2">
                                        <button type="submit" class="nav-link" style="text-decoration: underline;">
                                            APPLY
                                        </button>
                                        <a href="/catalog" class="nav-link" style="text-decoration: underline;">
                                            RESET
                                        </a>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link me-4 dropdown-toggle link-dark" href="#" id="sortingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SORTING
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="sortingDropdown">
                            <li>
                                <a class="dropdown-item{% if request.GET.sort == '0' or not request.GET.sort %} active{% endif %}" href="?{% if request.GET %}{{ request.GET.urlencode|cut:'sort='|cut:'&' }}&{% endif %}sort=0">
                                    By popularity
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item{% if request.GET.sort == '1' %} active{% endif %}" href="?{% if request.GET %}{{ request.GET.urlencode|cut:'sort='|cut:'&' }}&{% endif %}sort=1">
                                    Alphabetically
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item{% if request.GET.sort == '2' %} active{% endif %}" href="?{% if request.GET %}{{ request.GET.urlencode|cut:'sort='|cut:'&' }}&{% endif %}sort=2">
                                    By price: low to high
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link me-4 dropdown-toggle link-dark" href="#" id="paginationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            PAGINATION
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="paginationDropdown">
                            <li>
                                <a class="dropdown-item{% if request.GET.page_size == "10" or not request.GET.page_size %} active{% endif %}"
                                href="?{% if request.GET %}{{ request.GET.urlencode|cut:'page_size='|cut:'&' }}&{% endif %}page_size=10">
                                    10
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item{% if request.GET.page_size == "20" %} active{% endif %}"
                                href="?{% if request.GET %}{{ request.GET.urlencode|cut:'page_size='|cut:'&' }}&{% endif %}page_size=20">
                                    20
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item{% if request.GET.page_size == "30" %} active{% endif %}"
                                href="?{% if request.GET %}{{ request.GET.urlencode|cut:'page_size='|cut:'&' }}&{% endif %}page_size=30">
                                    30
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                {% if user.username == 'admin123' %}
                <div class="btn-right">
                    <a href="/catalog/create" class="btn btn-primary">Додати товар</a>
                </div>
                {% endif %}
            </div>
            

            <div class="row" id="gallery">
                {% for product in products %}
                <div class="col-md-3">
                    <div class="product-card position-relative">
                        <div class="image-holder">
                            <img src="/media/{{ product.photo }}" alt="{{ product.name }}" class="img-fluid">
                        </div>
                        <div class="cart-concern position-absolute">
                            <div class="cart-button d-flex flex-column gap-2">
                                <div class="add-to-cart">
                                    <input type="hidden" class="product-id" value="{{ product.id }}">
                                    <button class="btn btn-medium btn-black add-to-cart-btn">
                                        <svg class="cart-outline">
                                            <use xlink:href="#cart-outline"></use>
                                        </svg>
                                        Add to Cart
                                    </button>
                                </div>
                                <a href="#" class="btn btn-medium btn-black">
                                    add to favorites
                                    <svg class="cart-outline">
                                        <use xlink:href="#user"></use>
                                    </svg>
                                </a>
                            </div>
                            <!-- <div class="cart-button d-flex flex-column gap-2">
                                <a href="#" class="btn btn-medium btn-black add-to-cart-btn">Add to Cart<svg class="cart-outline">
                                        <use xlink:href="#cart-outline"></use>
                                    </svg>
                                </a>
                                <a href="#" class="btn btn-medium btn-black">add to favorites<svg class="cart-outline">
                                        <use xlink:href="#user"></use>
                                    </svg>
                                </a>
                            </div> -->
                        </div>
                        <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                            <h3 class="card-title text-uppercase">
                                <a href="#">{{ product.name }}</a>
                            </h3>
                            <span class="item-price text-primary">${{ product.price }}0 </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <div class="pagination">
                {% if products.has_previous %}
                    <a class="btn btn-outline-primary me-2"
                        href="?page={{ products.previous_page_number }}
                        {% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}
                        {% if selected_category_id %}&category={{ selected_category_id }}{% endif %}
                        {% if selected_producer_id %}&producer={{ selected_producer_id }}{% endif %}">
                        Попередня
                    </a>
                {% else %}
                    <span class="btn btn-outline-secondary me-2 disabled">Попередня</span>
                {% endif %}

                <span class="current-page align-self-center mx-2">
                    Сторінка {{ products.number }} з {{ products.paginator.num_pages }}
                </span>

                {% if products.has_next %}
                    <a class="btn btn-outline-primary ms-2"
                        href="?page={{ products.next_page_number }}
                        {% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}
                        {% if selected_category_id %}&category={{ selected_category_id }}{% endif %}
                        {% if selected_producer_id %}&producer={{ selected_producer_id }}{% endif %}">
                        Наступна
                    </a>
                {% else %}
                    <span class="btn btn-outline-secondary ms-2 disabled">Наступна</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>

{% include "_fragments/company_services.html" %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}